/* Styl przycisku przypisania karty */
.btn-assign-card {
    background-color: #007bff; /* kolor jak btn-primary */
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

    .btn-assign-card:hover {
        background-color: #0056b3;
    }

    /* Efekt podczas nasłuchiwania (pulsowanie) */
    .btn-assign-card.listening {
        background-color: #ffc107;
        color: #212529;
        animation: pulse 1s infinite;
    }

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);
    }
}

/* Efekt po przypisaniu */
.btn-assign-card.assigned {
    background-color: #28a745;
    color: white;
}


.card-assign-section {
    margin-top: 15px;
}

.card-assign-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-assign-card {
    background-color: #2e6ddf;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 6px;
}

    .btn-assign-card:hover {
        background-color: #1f56b1;
        transform: translateY(-1px);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    }

.card-message {
    display: none;
    align-items: center;
    gap: 6px;
    color: #28a745;
    font-weight: 500;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.4s ease;
}

    .card-message.show-message {
        opacity: 1;
        transform: translateY(0);
    }

    .card-message i {
        color: #28a745;
    }


tr.selected {
    background-color: #d4edda !important;
}

.optionsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-top:-10px;
    justify-content: center;
}

.addButtonsRow {
    display: flex;
    gap: 10px;
}

.selectedReservationActions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.addRoomStandardTypeBtn {
    background-color: #2f3b5eff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 14px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

    .addRoomStandardTypeBtn:hover {
        background-color: #3b73af;
    }

    .addRoomStandardTypeBtn[disabled] {
        background-color: #a9a9a9;
        cursor: not-allowed;
        opacity: 0.6;
    }

.reservationsTable table {
    width: 100%;
    border-collapse: collapse;
}

.reservationsTable tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.reservation-options-list {
    margin: 0;
    padding-left: 20px;
}
