tr.selected {
    background-color: #d4edda !important;
}

.optionsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

.addButtonsRow {
    display: flex;
    gap: 10px;
}

.selectedRoomActions {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.addRoomStandardTypeBtn {
    background-color: #2f3b5eff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 14px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

    .addRoomStandardTypeBtn:hover {
        background-color: #3b73af;
    }

    .addRoomStandardTypeBtn[disabled] {
        background-color: #a9a9a9;
        cursor: not-allowed;
        opacity: 0.6;
    }

.roomsTable table {
    width: 100%;
    border-collapse: collapse;
}

.roomsTable tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.room-options-list {
    margin: 0;
    padding-left: 20px;
}
