@model hotelASP.Models.LoginViewModel

@{
	ViewData["Title"] = "Login";
}
<div class="container">
	<img src="~/assets/graphics/logo-no-background.png" />
	<section>

		<h1>Logowanie do systemu</h1>
				<form asp-action="Login" asp-controller="Account">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					
						<label asp-for="UsernameOrEmail" class="control-label"></label>
						<input asp-for="UsernameOrEmail" class="form-control" />
						<span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
					
					
						<label class="control-label">Hasło</label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>


						<p><button type="submit" class="loginBtn">Zaloguj</button> </p>
					
				</form>

	</section>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
