@model IAsyncEnumerable<hotelASP.Entities.Room>


<h1>sprawdzanie stanu pokoi</h1>

<form action="CheckRoomStatus" method="post">
<input type="text" name="KeyCode"/>
<button type="submit">Potwierdź</button>
</form>