@model hotelASP.Models.StandardViewModel
@{
    ViewData["Title"] = "Dodaj standard";
}

<div class="create-room-container">
    <div class="headerMain">
        <h2>➕ Dodaj nowy standard</h2>
        <div class="headerMain-actions">
            <a asp-action="Index" class="btnMainSecondary">Powrót</a>
        </div>
    </div>
    <div class="cardMain">
        <form asp-action="CreateStandard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-groupMain">
                <label asp-for="NewStandard.StandardName" class="control-label">Nazwa standardu</label>
                <input asp-for="NewStandard.StandardName" class="form-controlMain" placeholder="np. Premium" />
                <span asp-validation-for="NewStandard.StandardName" class="text-danger"></span>
            </div>
            <div class="form-groupMain">
                <label asp-for="NewStandard.StandardValue" class="control-label">Wartość standardu</label>
                <input asp-for="NewStandard.StandardValue" class="form-controlMain" placeholder="np. 1.5" />
                <span asp-validation-for="NewStandard.StandardValue" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <input type="submit" value="✅ Dodaj standard" class="btn-primaryRoom" />
            </div>
        </form>
    </div>

    <div>
        <h3>Obecne standardy:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa standardu</th>
                    <th>Wartość standardu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Standards)
                {
                    <tr>
                        <td>@item.StandardName</td>
                        <td>@item.StandardValue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
