@model hotelASP.Entities.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytowanie</h1>

<h4>
    Pokój nr @Html.DisplayFor(Model => Model.IdRoom)</h4>
<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdRoom" />
            
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdStandard"></label>
                <input asp-for="IdStandard" />
            </div>

            <div class="form-group">
                <label asp-for="IdType"></label>
                <input asp-for="IdType" />
            </div>

            <div class="form-group">
                <label asp-for="FloorNumber"></label>
                <input asp-for="FloorNumber" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsTaken" class="control-label"></label>
                <select asp-for="IsTaken" class="form-control">
                    @{
                        if(Model.IsTaken == 0)
                        {
                            <option value="0" selected>Wolny</option>
                            <option value="1">Zajęty</option>
                        }
                        else
                        {
                            <option value="0">Wolny</option>
                            <option value="1" selected>Zajęty</option>
                        }
                    }
                </select>
                <span asp-validation-for="IsTaken" class="text-danger"></span>
            </div>  


            <div class="form-group">
                <label asp-for="Price"  class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsEmpty"></label>
                <input asp-for="IsEmpty" />
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="loginBtn" />
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
