<nav class="nav-bar">
	<a asp-controller="Rooms" asp-action="Index"> <h4>Pokoje</h4> </a>
	<a asp-controller="Reservations" asp-action="Index"> <h4>Rezerwacje</h4> </a>
	<a asp-controller="Reservations" asp-action="Create"> <h4>Zakwaterowanie</h4> </a>
	<a asp-controller="Customers" asp-action="Index"> <h4>Klienci</h4> </a>
	<a asp-controller="Orders" asp-action="Index"> <h4>Zamówienia</h4></a>
	<a asp-controller="Rooms" asp-action="CheckRoomStatus"> <h4>Stan pokojów</h4></a>
	
	@if (User.IsInRole("admin"))
	{
		<a asp-controller="Account" asp-action="Index"><h4>Zarządzaj użytkownikami</h4></a>
	}
</nav>