@model hotelASP.Entities.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_reservation" />
            <div class="form-group">
                <label asp-for="Date_from" class="control-label"></label>
                <input asp-for="Date_from" class="form-control" />
                <span asp-validation-for="Date_from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_to" class="control-label"></label>
                <input asp-for="Date_to" class="form-control" />
                <span asp-validation-for="Date_to" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="First_name" class="control-label"></label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_name" class="control-label"></label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRoom" class="control-label"></label>
                <input asp-for="IdRoom" class="form-control" />
                <span asp-validation-for="IdRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
