@model IEnumerable<hotelASP.Models.Reservation>

@{
	ViewData["Title"] = "Lista rezerwacji";
}

<div class="mainView">

	<div class="reservationBar">
		<a asp-action="CurrentReservations" asp-controller="Reservations">Aktualne rezerwacje</a>
		<a asp-action="HistoryReservations" asp-controller="Reservations">Historia rezerwacji</a>
	</div>

	<div id="calendar"></div>

    <div id="reservationModal" class="modalEdit" style="display:none">
        <div class="reservationModal-content">
            <h3>Informacje o rezerwacji</h3>
            <p><strong>Tytuł:</strong> <span id="reservationTitle"></span></p>
            <p><strong>Data rozpoczęcia:</strong><span id="reservationStart"></span> </p>
            <p><strong>Data zakończenia:</strong><span id="reservationEnd"></span> </p>
            <p><strong>Opis:</strong><span id="reservationDescription"></span> </p>
            <button id="closeModal" style="margin-top: 10px;">Zamknij</button>
        </div>
    </div>

</div>